<h1>To-Do Checklist</h1>
<% @items.each do |item| %>
  <%if item.is_checked %>
    <input id="item-<%=item.id%>" type="checkbox" class="list-item" checked></input>
  <% else %>
    <input id="item-<%=item.id%>" type="checkbox" class="list-item"></input>
  <% end %>
 <label class="item-label"><%=item.name %></label><br/></div>
<% end %>
<%= render "items/new" %>

<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'application' %>
<!--
 Tasks:
   1. Checklist item MVC start
   2. Form to add checklist item (Aaron)
   3. Strikethrough checklist item in view w/undo

Note Model:
	Text -> Charfield
	Checked -> Boolfield
-->
